html {
  font-family: freight-text-pro, serif;
}

body {
  width: 100%;
  max-width: 100em;
}

#body-index {
  height: 100%;
  background: url("../images/banner-main-2.jpg") center center / cover no-repeat;
  background-attachment: fixed;
}

#body-recipes {
  height: 100%;
  background: url("../images/banner-recipes.jpg") center center / cover no-repeat;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: serenity, sans-serif;
  font-weight: 600;
  font-style: normal;
}

nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 15;
}

nav li:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  background-color: #fff;
  transition: .25s ease-in-out;
}

nav li:hover:after {
  background-color: #eb2940;
  width: 100%;
}

/*
nav li {
  border-bottom: 5px solid #fff;
}

nav li:hover {
  border-bottom: 5px solid #eb2940;
  transition: .25s ease-in-out;
}
*/

nav a {
  text-decoration: none;
  color: #eb2940;
}

nav a:focus {
  outline: none;
}

header {
  z-index: -20;
}

header .banner-pad, .banner-pad-less {
  padding-top: 14vw;
  padding-bottom: 28vw;
}

.banner-pad-less {
padding-bottom: 14vw;
}
.un {
  display: inline-block;
  color: #fff;
}

h1:hover .un {
  color: #eb2940;
  transition: .25s ease-in-out;
}

.un:after {
  content: '';
  width: 0px;
  height: 12px;
  display: block;
  background-color: #fff;
  transition: .25s ease-in-out;
}

h1:hover .un:after {
  background-color: #eb2940;
  width: 100%;
}

.square {
  width: 100%;
  height: 110%;
  background-color: #fff;
  z-index: 5;
  border: 1px solid #fff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  /* box-shadow: 150px 150px 0px -130px rgba(210, 26, 12, .22); */
}

/* my classes */

.r-pad-nav {
  padding-right: 2em;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #eb2940;
}

.main-content {
  padding-bottom: 5em;
}

.main-content-text {
  z-index: 10;
}

.white-bg {
  background-color: #fff;
}

/* recipes html */
.hidden-overflow {
  overflow: hidden;
}

.recipes-img-zoom {
  transition: .125s linear;
}

.recipes-img-zoom:hover {
transform: scale(1.1, 1.1);
}

@media only screen  and (min-width: 25em) {

  .square {
  }

}

@media only screen  and (min-width: 38em) {

  .square {
    width: 110%;
    height: 135%;
    bottom: -17.5%;
  }

  .main-content {
    top: -5em;
  }

  .main-content {
    padding-bottom: 0;
  }

  .col-2 {
    column-count: 2;
    max-height: 400px;
  }

}

@media only screen  and (min-width: 60em) {

  .main-content {
    top: -10em;
  }

  .col-2 {
    column-count: 3;
  }

}
